<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define LaoBernardBSCS3A_AdvDBMS_PrelimExam_TargetDir=$(var.LaoBernardBSCS3A_AdvDBMS_PrelimExam.TargetDir)?>
	<Product Id="*" Name="MySetup" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft" UpgradeCode="e39e7bc8-05a1-4872-8093-794a006b27fa">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="MySetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="MySetup" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<!--<Component Id="Icon.ico" Guid="538cb2e7-7a6e-4a6c-8855-5455cd6a1ae7">
			  <File Id="Icon.ico" Name="Icon.ico" Source="$(var.LaoBernardBSCS3A_AdvDBMS_PrelimExam_TargetDir)Icon.ico" />
			</Component>-->
			<Component Id="LaoBernardBSCS3A_AdvDBMS_Ass1.exe" Guid="e987ada0-3764-4061-9146-33316abf0406">
			  <File Id="LaoBernardBSCS3A_AdvDBMS_Ass1.exe" Name="LaoBernardBSCS3A_AdvDBMS_Ass1.exe" Source="$(var.LaoBernardBSCS3A_AdvDBMS_PrelimExam_TargetDir)LaoBernardBSCS3A_AdvDBMS_Ass1.exe" />
			</Component>
			<Component Id="LaoBernardBSCS3A_AdvDBMS_Ass1.exe.config" Guid="651533e6-11ee-4b33-9f78-c06e7dca5e74">
			  <File Id="LaoBernardBSCS3A_AdvDBMS_Ass1.exe.config" Name="LaoBernardBSCS3A_AdvDBMS_Ass1.exe.config" Source="$(var.LaoBernardBSCS3A_AdvDBMS_PrelimExam_TargetDir)LaoBernardBSCS3A_AdvDBMS_Ass1.exe.config" />
			</Component>
      
		</ComponentGroup>
	</Fragment>
</Wix>
